
ion-content {
  --background: #ffffff;
  --color: #333333; 
}

ion-toolbar {
  --background: #FFF59D;
  --border-color: transparent;
}


ion-title {
  font-family: 'Georgia', 'Times New Roman', serif; 
  font-size: 1.8rem; 
  color: #2c2c2c;    
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}

ion-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 96%;
  height: 55px;
  font-size: 1.1rem;
  font-weight: bold;
  
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

ion-button:nth-of-type(1) {
  --background: linear-gradient(90deg, #ff9966 0%, #ff5e62 100%);
  --color: #ffffff; 
  margin-top: 60px; 
}

ion-button:nth-of-type(2) {
  --background: #b39ddb;
  --color: #ffffff; 
}

ion-button:nth-of-type(3) {
  --background: #81c784;
  --color: #ffffff; 
}

h1 {
  color: #000000;
  margin-top: 30px;
}
p {
  color: #666666;
  margin-bottom: 30px;
}
