<ion-header>
  <ion-toolbar>
    <ion-title>Saint Luke Lab</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>Bem-vindo!</h1>
    <p>Selecione o tipo de atendimento:</p>
  </div>

  <ion-button (click)="solicitarSenha('SP')"class="ion-margin-bottom">
    Prioritário (SP)
  </ion-button>

  <ion-button (click)="solicitarSenha('SE')" class="ion-margin-bottom">
    Exames (SE)
  </ion-button>

  <ion-button (click)="solicitarSenha('SG')">
    Geral (SG)
  </ion-button>
</ion-content>