<ion-content class="painel-content">
  
  <div class="painel-destaque ion-text-center">
    <h2>Última Chamada</h2>
    
    <h1 class="senha-gigante">
      {{ ticketService.ultimosChamados.length > 0 ? ticketService.ultimosChamados[0].id : '---' }}
    </h1>
  </div>
  <div class="historico-wrapper">
    <ion-list-header>
      <ion-label>Histórico</ion-label>
    </ion-list-header>

    <ion-list lines="full">
      <ion-item *ngFor="let ticket of ticketService.ultimosChamados">
        <ion-icon name="checkmark-circle" slot="start" color="success"></ion-icon>
        <ion-label>
          <h2>{{ ticket.id }}</h2>
          <p>{{ ticket.tipo === 'SP' ? 'Prioritário' : (ticket.tipo === 'SE' ? 'Exame' : 'Geral') }}</p>
        </ion-label>
        
        <ion-badge slot="end" class="badge-amarelo">{{ ticket.status }}</ion-badge>
      </ion-item>
    </ion-list>
  </div>

</ion-content>