
ion-content {
  --background: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  
  
  height: auto;          
  min-height: 100%;     
  overflow-y: auto;      
  -webkit-overflow-scrolling: touch; 
}


.painel-destaque {
  background-color: #ffffff; 
  width: 95%; 
  max-width: 900px;
  border-radius: 15px;
  padding: 10px 0;
  
  margin-top: 20px; 
  margin-bottom: 20px; 
  
  box-shadow: 0 10px 25px rgba(0,0,0,0.05); 
  border: 1px solid #e0e0e0;
  border-left: 15px solid #FFF59D; 
}

.painel-destaque h2 {
  color: #666666;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0;
}

.senha-gigante {
  font-size: 7rem; 
  font-weight: 800;
  color: #000000;
  margin: 0;
  line-height: 1;
}


.historico-wrapper {
  background-color: #f5f6f8; 
  
  width: 100%; 
  margin: 0;
  border-radius: 30px 30px 0 0; 
  padding: 30px 0;
  flex: 1; 
  min-height: 50vh; 
  display: flex;
  flex-direction: column;
}

ion-list-header {
  font-size: 2rem;
  color: #333333;
  padding-left: 30px; 
  margin-bottom: 10px;
  font-weight: bold;
  background: transparent;
}


ion-list {
  background: transparent;
  padding: 0 20px;
  width: 100%; 
  overflow: visible; 
}

ion-item {
  --background: #ffffff; 
  --border-radius: 15px;
  margin-bottom: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  border: none;
  --padding-start: 20px;
  --padding-end: 20px;
  --min-height: 80px;
}

ion-item h2 {
  font-weight: 800 !important;
  font-size: 3.5rem !important;
  color: #222222;
  margin-bottom: 5px;
}

ion-item p {
  font-size: 1.5rem !important;
  color: #666666;
  font-weight: 500;
}

ion-icon {
  font-size: 3rem;
  margin-right: 20px;
}

.badge-amarelo {
  --background: #F3E5AB;
  --color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 20px;
}


@media (max-width: 768px) {
  
  .senha-gigante {
    font-size: 4.5rem; 
  }

  .painel-destaque h2 {
    font-size: 1.2rem;
  }

  ion-item h2 {
    font-size: 2rem !important;
  }
  
  ion-item p {
    font-size: 1rem !important;
  }
  
  ion-icon {
    font-size: 2rem;
  }
  
  .badge-amarelo {
    padding: 5px 10px;
    font-size: 0.9rem;
  }
}