<ion-header>
  <ion-toolbar>
    <ion-title>Módulo Atendente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-text-center ion-margin-bottom">
    <ion-card-header>
      <ion-card-subtitle>EM ATENDIMENTO</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h1>
        {{ senhaAtual?.id || '---' }}
      </h1>

      <ion-badge *ngIf="senhaAtual">
        {{ senhaAtual?.tipo === 'SP' ? 'PRIORIDADE' : 'NORMAL' }}
      </ion-badge>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding-top">
    <ion-button (click)="chamarProximo()">
      <ion-icon name="megaphone-outline" slot="start"></ion-icon>
      CHAMAR PRÓXIMO
    </ion-button>
  </div>

  <div class="ion-text-center ion-margin-top">
    <p>
      Pessoas na fila:
      <strong>{{ qtdEspera }}</strong>
    </p>
  </div>

</ion-content>
