/* --- 1. Configuração da Página (Fundo e Fonte) --- */
ion-content {
  --background: #ffffff;
  --color: #333333;
  /* Fonte padrão moderna (sem serifa) para TUDO */
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

/* --- 2. Cabeçalho (Módulo Atendente) --- */
ion-toolbar {
  --background: #F3E5AB; /* Amarelo Manteiga (mantendo a identidade) */
  --color: #333333;      /* Texto escuro */
  --border-color: transparent;
}

ion-title {
  /* Título normal, sem serifa, limpo */
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  
}

/* --- 3. O Cartão da Senha (EM ATENDIMENTO) --- */
ion-card {
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08); /* Sombra elegante */
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
}

ion-card-subtitle {
  color: #888888;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.85rem;
  margin-top: 15px;
}

/* O Número da Senha */
ion-card-content h1 {
  font-size: 4rem; /* Senha GIGANTE */
  font-weight: 800;
  color: #000000;  /* Preto total para máximo contraste */
  margin: 10px 0 20px 0;
}

/* A Etiqueta (PRIORIDADE / NORMAL) */
ion-badge {
  --background: #333333; /* Cinza escuro neutro */
  --color: #ffffff;
  
  font-size: 1.1rem;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: normal;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* --- 4. Botão CHAMAR PRÓXIMO (Verde) --- */
ion-button {
  height: 65px; /* Botão bem alto para clicar fácil */
  width: 100%;
  
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  
  --border-radius: 12px;
  --box-shadow: 0 6px 12px rgba(45, 211, 111, 0.4); /* Sombra esverdeada bonita */

  /* Cor Verde Vibrante */
  --background: #2dd36f; 
  --background-hover: #26a558;
  --color: #ffffff;
}

ion-icon {
  font-size: 1.8rem;
  margin-right: 10px;
}

/* --- 5. Rodapé (Pessoas na fila) --- */
p {
  color: #666666;
  font-size: 1.1rem;
  margin-top: 30px;
}

strong {
  color: #000000;
  font-size: 1.4rem;
}