ion-content {
  --background: #ffffff;
  --color: #333333;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

ion-toolbar {
  --background:#FFF59D;
  --color: #333333; 
  --border-color: transparent;
}

ion-title {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  
}

ion-card {
  background: #ffffff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08); 
  border-radius: 15px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
}

ion-card-subtitle {
  color: #888888;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 0.85rem;
  margin-top: 15px;
}

ion-card-content h1 {
  font-size: 4rem; 
  font-weight: 800;
  color: #000000;  
  margin: 10px 0 20px 0;
}

ion-badge {
  --background: #333333; 
  --color: #ffffff;
  
  font-size: 1.1rem;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: normal;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

ion-button {
  height: 65px; 
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  
  --border-radius: 12px;
  --box-shadow: 0 6px 12px rgba(45, 211, 111, 0.4); 
  --background: #2dd36f; 
  --background-hover: #26a558;
  --color: #ffffff;
}

ion-icon {
  font-size: 1.8rem;
  margin-right: 10px;
}

p {
  color: #666666;
  font-size: 1.1rem;
  margin-top: 30px;
}

strong {
  color: #000000;
  font-size: 1.4rem;
}